body {
  background-color: aliceblue;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
.img-info {
  display: flex;
  width: 100vw;
  max-width: 1170px;
  margin: 0 auto;
  height: 100vh;
  justify-content: space-between;
  align-items: center;
}
.info {
  margin-left: 7rem;
  display: flex;
  justify-content: space-between;
}
.verticle-line {
  height: 350px;
  width: 10px;
  border-radius: 10px;
  background-color: green;
  margin-right: 2rem;
}
.main-info {
  align-self: center;
  margin: 2rem;
  margin-left: 0;
  margin-top: -2rem;
  letter-spacing: 2px;
  line-height: 3.5rem;
}
.main-info h3 {
  font-size: 2.5rem;
  text-transform: uppercase;
}
.btn-cta {
  padding: 0.75rem;
  border-radius: 5px;
  background-color: green;
  color: aliceblue;
  border: none;
}
img {
  /* transform: scale(1.2); */
  /* width: 100%; */
  display: block;
}
.img {
  width: 500px;
  height: 600px;
  position: relative;
}
.img::after {
  content: '';
  border: 2px solid green;
  /* background: grey; */
  width: 60%;
  height: 80%;
  position: absolute;
  box-sizing: border-box;
  top: 30px;
  right: 0;
  z-index: -1;
  transition: all 0.5s linear;
}
